@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.primeira-parte{
 background-color: darkgrey;

}
.texto-um{
    text-align: left;
}

.imagem{
   width: 45%;

}
.titulo{
   width: 80%;
}

.icone{
   width: 30px;
 
}
.cabecalho{
   background-color: darkgrey;
}