@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');


.priemira-parte{
   background-color: gray;

}
.texto-um{
    text-align: left;
}

.imagem{
   width: 45%;

}